* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.card {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: solid 5px black;
    padding: 20px 40px;
    text-align: center;
    justify-content: space-between;
}

#instagram-card {
    padding: 22.5px 42.5px;
    background-color: #E1306C;
    border: none;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 20px;
}