* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 40px;
}

.background {
    width: 1600px;
    background-image: url('https://images.pexels.com/photos/3861976/pexels-photo-3861976.jpeg');
    background-size: cover;
    background-position: left;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-header > img {
    width: 120px;
}

.form-header > h2 {
    font-size: small;
    font-weight: normal;
}

.form-inputs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form-inputs > input {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.form-inputs > button {
    padding: 10px 20px;
    background-color: #F16524;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}