* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.spinner {
    width: 150px;
    height: 150px;
    border: 15px solid #a6a6a7;
    border-right: 15px solid #000000;
    border-radius:50% ;
    animation: rotar 5s ease-in-out infinite ;
}
