* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    height: 150px;
    width: 150px;
    border : 20px solid #b3b3b3;
    border-right: rgb(255, 50, 50) 20px solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

h1 {
    animation: spin 2s linear infinite;
}