* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    background-color: rgb(63, 112, 247);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}


section:nth-child(odd) {
    flex-direction: row-reverse;
}

section {
    height: 80vh;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

section img {
    height: 300px;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section div h2 {
    font-size: 128px;
}

section div p {
    font-size: 10px;
}

.box-container {
    display: flex;
    gap: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(63, 112, 247);
}

.box h2 {
    color: white;
    font-size: 100px;
}